.header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
    
}

.bar-info {
    background-color: #f50057;
    color: white;
    padding-top: 2px ;
    padding-bottom: 2px;
    text-align: center;
}



img{
    width: 200px;
    height: auto;
    margin-left: 20px;
    margin-top: -25%;
}

